body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

a {
    color: blue;

}

#quiz-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}